{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">D</span><span class="base09">y</span><span class="base0a">l</span><span class="base0b">a</span><span class="base0c">n</span>
  <span class="base0d">W</span><span class="base0e">o</span><span class="base0e">l</span><span class="base0f">f</span><span class="base0a">f</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Software Engineer, Masters Student, Ultimate Frisbee Expert
</div>
